<nav>
    <div class="site-title">
      <a href="/"><h1>Shayari</h1></a>
      <p>welcome to V Shayari</p>
    </div>
    <ul>
      <li><a href="/">Shayari</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/blogs/create">New Shayari</a></li>
    </ul>
</nav>